
.o-firmie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.icons-wrap {
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
