

.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-info {
  display: flex;
  justify-content: center;
  text-align: center;
}

.laweta {
  text-align: center;
}
