<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://i.ibb.co/3svRt5v/hayden-walker-704909-unsplash.jpg');">
  <div class="banner-content">
    <h1>Falko</h1>
    <p>Pomoc drogowa Suchedniów, Skarżysko-Kamienna</p>
  </div>
</div>

<div class="row">
  <%= image_tag "phone-call.png", height: 100 %> <a href="tel:795415047">795 415 047</a>

</div>
<div class="row">
  <div class="col-md-4">
    <h2>Auto pomoc Drogowa 24/7 cały rok</h2>
    <p>Pomoc drogowa, holowanie - 365 dni w roku, 24h na dobę - niedziele, święta. Obsługuje wszystkie pobliskie miejscowości (między innymi: pomoc drogowa, holowanie Skarżysko-Kamienna, Kielce, Starachowice, Suchedniów, Łączna, Ostojów, Występa, Wiśniówka, Bodzentyn, Bliżyn, Stąporków, Szydłowiec) oraz drogę s7.</p>

  </div>
  <div class="col-md-4">
    <h2>Usługi:</h2>
    <ul>
    <p><li>Holowanie z OC sprawcy</li>
<li>Wymiana koła</li>
<li>Dowóz paliwa</li>
</p>
</ul>
  </div>
  <div class="row">
  <div class="col-md-4">
    <h2>Pomoc drogowa</h2>
    <ul>
    <p><li>Suchedniów</li>
<li>Skarżysko-Kamienna</li>
<li>profesjonalna auto pomoc, autolaweta</li>
</p>
</ul>

  </div>
</div>


<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


<div id="content-slider">
  <div class="wrap-slider">


    <!-- ===== Thumbnail ControlNav ======= -->
    <input type="radio" id="a-1" name="a" >
    <input type="radio" id="a-2" name="a" >
    <input type="radio" id="a-3" name="a" >
    <input type="radio" id="a-4" name="a" >

    <nav id="main">
      <label for="a-1" class="first"></label>
      <label for="a-2" class="first"></label>
      <label for="a-3" class="first"></label>
      <label for="a-4" class="first"></label>
    </nav>

    <!-- =================================== -->
    <nav id="control">
      <label for="a-1"></label>
      <label for="a-2"></label>
      <label for="a-3"></label>
      <label for="a-4"></label>
    </nav>
    <!-- =================================== -->

    <!--  IMAGE NAVIGATION pic -->

    <!-- ===== IMages ======= -->

    <div class="slider">
      <div class="inset">

        <figure>
          <figcaption class="title-1">
            <h1>PAK FA T-50</h1>
            <p>Stealth multirole fighter</p>
            <a href="">read more...</a>
          </figcaption>
          <img src="https://github.com/lime7/slider/blob/master/images/1.png?raw=true" alt="" id="i-1" class="f">
        </figure>

        <figure>
          <figcaption class="title-2">
            <h1>Kamov Ka-50 "Black Shark"</h1>
            <p>Attack helicopter</p>
            <a href="">read more...</a>
          </figcaption>
          <img src="https://github.com/lime7/slider/blob/master/images/10.png?raw=true" alt="" id="i-2" class="f">
        </figure>

        <figure>
          <figcaption class="title-3">
            <h1>Sukhoi Su-27</h1>
            <p>Air superiority fighter</p>
            <a href="">read more...</a>
          </figcaption>
          <img src="https://github.com/lime7/slider/blob/master/images/3.png?raw=true" alt="" id="i-3" class="f">
        </figure>

        <figure>
          <figcaption class="title-4">
            <h1>mil mi-28</h1>
            <p>Attack helicopter</p>
            <a href="">FIND OUT MORE</a>
          </figcaption>
          <img src="https://github.com/lime7/slider/blob/master/images/4.png?raw=true" alt="" id="i-4" class="f">
        </figure>


        <figure>
          <figcaption class="title-5">
            <h1>PAK FA T-50</h1>
            <p>Stealth multirole fighter</p>
            <a href="">read more...</a>
          </figcaption>
          <img src="https://github.com/lime7/slider/blob/master/images/1.png?raw=true" alt="" id="i-5" class="f">
        </figure>
      </div>
    </div>

  </div>
</div>
